h2 {
  width: 200px;
  background-color: #eee;
white-space: nowrap;
overflow: hidden;
padding: 10px;
text-overflow: ellipsis;
}
h2:hover {
  overflow: visible;
  width: 330px;
  cursor: pointer;
  transform: rotate(90deg) scaleX(1);
  position: absolute;
}